*{
    
    padding: 0;
    box-sizing: border-box;
    
}
body{

    font-family: 'Montserrat', sans-serif;
    margin-top: 85px;
  
}

.navbar{
    box-shadow: 1px 1px 4px 1px #000;
    /*opacity: .9;*/
    background:#ff5e00;
}

.secondaty{
    font-size: 10px;
}
    


#search {
    font-size : 17px ;
    color: #343a40;
 }
 .list-unstyled li a {
     color:#343a40;
     text-decoration: none;
 }
footer{
    background:#ff5e00;


}
.footer-copyright{
background:#ff8000;}
#faq
{
    font-size : 22px ;
    color: #fff;  
}
.letra-info{
    color: white;
}


.fondo-imagen{
  background-color:#ffab2d;
}
.fondo-compra{
  background-color: #E9ECEF;
}

.titulo-texto{
    display: block;
    position: relative;
    bottom:150px;
    
    z-index: 1;
}


@media (min-width: 320px){
    .card-columns {
        column-count: 3;
    }
}


input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.boton-busqueda{
    width: 80px;
    border:none;
}

.right{margin-right: 120px;}

.form-control{
    width: 100px;
}



 
  
 
  
  
  
  
