body{
     margin: 0;
     display: flex;
     justify-content: flex-start;
     font-family: Arial, Helvetica, sans-serif;
}
video{
     position: fixed;
     min-width: 100%;
     min-height: 100%;
     top: 50%;
     left: 50%;
     transform: translatex(-50%) translateY(-50%);
     z-index: -1;

}
h2{
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 60px;
}

main{
    width: 30%;
    padding: 20px;
    margin: 5%;

    background: rgba(0, 0, 0, 0.5);
    color: rgb(233, 134, 48);

}

main a{
    text-decoration:none;
    color: rgb(233, 134, 48);